
/*CSS HTML (documento entero)*/
html{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    height: 100%;
}

h3, h2, h1 {
    text-align: center;
    color: rgb(47,68,100);
}

/*CSS Header*/
header {
    background-color: rgb(76,83,106);
    width: 100%;
    left: 0;
    display:inline-block;
    height: 3.5rem;
}

.logo {
    /*display: inline-block;*/
    float:left;
    margin-top: 15px;
}

.nav {
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.nav:hover {
    background-color: rgb(160,161,161);
    }

.navsecundario {
        background-color: rgb(76,83,106);
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 1%;
    }

#navsecundario {
    color:white;
    font-size: 0.8rem;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#navsecundario:visited {
    background-color: rgb(160,161,161);
    }

/*CSS Footer*/
footer {
    background-color: rgb(76,83,106);
        color:white;
        width: 100%;
        text-align: center;
        /*bottom: 0;
        left: 0;
        
        height: 50px;
        margin-top: 0;
        /*position:fixed;*/
        /*max-height: 5.5rem;*/
        font-size: 0.8rem;
        padding: 5px;
        width: 100%;
        left: 0;
        display:inline-block;
    }

    #mail, #redsoc{
        color: white;
        text-decoration: none;
        margin-right: 1rem;
    }

/*CSS index.html*/
.fotoportada {
    /*padding-top:1%;*/
}

/*CSS contacto.html*/
.grid-container-contacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "titulo1 fotoperfilfede fotoperfilmica" 
                             "titulo1 cvfede cvmica"
                             "titulo2 mapa direccion"
                             "titulo3 formulario formulario";
    }

.itemtitulo1 {
    grid-area: titulo1;
}

.itemfotoperfilfede {
    grid-area: fotoperfilfede;
    text-align: center;
    padding-top: 5%;
}

.itemfotoperfilmica {
    grid-area: fotoperfilmica;
    text-align: center;
    padding-top: 5%;
}

.itemcvfede {
    grid-area: cvfede;
    font-size: 0.8rem;
}

.itemcvmica {
    grid-area: cvmica;
    font-size: 0.8rem;
}

.itemtitulo2 {
    grid-area: titulo2;
}

.itemmapa {
    grid-area: mapa;
    padding-left: 10%;
}

.itemdireccion {
    grid-area: direccion;
    font-size: 0.8rem;
}

.itemtitulo3 {
    grid-area: titulo3;
}

.form {
    grid-area: formulario;
}

form {
    border-radius: 5px;
    padding: 0%;
    margin: 2% 15%;
    text-align: justify;
}

label, input, form {
    font-size: 1.0vw;
}

fieldset {
    /*width: 100%;*/
    margin: 0 px 10px;
    padding: 0px 10px;
    text-align: left;
}

input[type=text], input[type=email]  {
    width:50%;
    padding: 2px;
    margin: 0px;
    display: inline;
    border: 1px;
    border-radius: 2px;
    box-sizing: content-box;
}

textarea {
width: 80%;
}

input[type=submit] {
    background-color: rgb(160,161,161) ;
    width: 80%;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor:pointer;
    margin-left: 10%;
    margin-right: 0%;
}

input[type=submit]:hover {
    background-color: rgb(76,83,106);
}

/*CSS servicios.html*/

/*768px and down*/
@media screen and (max-width: 768px) {
    .grid-container-servicios {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(8, auto);
        grid-template-areas: "titulo1"
                             "descripcionconstruccion"  
                             "titulo2"
                             "descripcionneuroarquitectura"
                             "titulo3"
                             "descripcioncalculoestructural"
                             "titulo4"
                             "descripcionrelevamientos";
    }    
}

/*768px and up*/
@media screen and (min-width: 768px) {
    .grid-container-servicios {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(8, auto);
        grid-template-areas: "titulo1 titulo1"
                            "descripcionconstruccion fotoconstruccion" 
                             "titulo2 titulo2"
                             "fotoneuroarquitectura descripcionneuroarquitectura"
                             "titulo3 titulo3"
                             "descripcioncalculoestructural fotocalculoestructural"
                             "titulo4 titulo4"
                             "fotorelevamientos descripcionrelevamientos";
    }    
}

/*992px and up*/
@media screen and (min-width: 992px) {
    .grid-container-servicios {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "titulo1 descripcionconstruccion fotoconstruccion " 
                             "titulo2 fotoneuroarquitectura descripcionneuroarquitectura"
                             "titulo3 descripcioncalculoestructural fotocalculoestructural"
                             "titulo4 fotorelevamientos descripcionrelevamientos";
    }    
}
.itemtitulo1servicios {
    grid-area: titulo1;
    align-content: center;
    justify-content: space-evenly;
}

.itemfotoconstruccion {
    grid-area: fotoconstruccion;
    padding-left: 10%;
    padding-top: 5%;
}

.itemdescripcionconstruccion {
    grid-area: descripcionconstruccion;
    font-size: 0.8rem;
    padding-left: 10%;
    /*align-content: center;*/
}

.itemtitulo2servicios {
    grid-area: titulo2;
    /*justify-content: space-evenly;*/
    align-content: center;
}

.itemfotoneuroarquitectura {
    grid-area: fotoneuroarquitectura;
    padding-left: 10%;
}

.itemdescripcionneoroarquitectura {
    grid-area: descripcionneuroarquitectura;
    font-size: 0.8rem;
    padding-left: 5%;
}

.itemtitulo3servicios {
    grid-area: titulo3;
}

.itemfotocalculoestructural {
    grid-area: fotocalculoestructural;
    padding-left: 10%;
}

.itemdescripcioncalculoestructural {
    grid-area: descripcioncalculoestructural;
    font-size: 0.8rem;
    padding-left: 5%;
}

.itemtitulo4servicios {
    grid-area: titulo4;
}
.itemfotorelevamientos {
    grid-area: fotorelevamientos;
    padding-left: 10%;
}

.itemdescripcionrelevamientos {
    grid-area: descripcionrelevamientos;
    font-size: 0.8rem;
    padding-left: 10%;
}

/*CSS capilla.html*/
.grid-container-capilla {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "capilla1 capilla1 datoscapilla"
                        "capilla1 capilla1 descripcioncapilla"
                        "capilla2 capilla2 descripcioncapilla"
                        "capilla3 capilla4 ..."
                        "capilla5 capilla5 ..."
                        "capilla6 capilla7 capilla8";
}

.itemcapilla1 {
    grid-area: capilla1;
    text-align: center;
}

.itemdatoscapilla {
    grid-area: datoscapilla;
}

.itemdescripcioncapilla {
    grid-area: descripcioncapilla;
    font-size: 0.8rem;
}

.itemcapilla2 {
    grid-area: capilla2;
    text-align: center;
}

.itemcapilla3 {
    grid-area: capilla3;
    text-align: center;
}

.itemcapilla4 {
    grid-area: capilla4;
    text-align: center;
}

.itemcapilla5 {
    grid-area: capilla5;
    text-align: center;
}

.itemcapilla6 {
    grid-area: capilla6;
    text-align: center;
}

.itemcapilla7 {
    grid-area: capilla7;
    text-align: center;
}

.itemcapilla8 {
    grid-area: capilla8;
    text-align: center;
}

/*CSS casa-del-peregrino.html*/
.grid-container-casadelperegrino {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "casa-del-peregrino1 datoscasadelperegrino"
                        "casa-del-peregrino1 descripcioncasadelperegrino"
                        "casa-del-peregrino2 casa-del-peregrino4"
                        "casa-del-peregrino3 casa-del-peregrino4"
                        "casa-del-peregrino5 casa-del-peregrino5"
                        "casa-del-peregrino6 casa-del-peregrino7";
}

.itemcasa-del-peregrino1 {
    grid-area: casa-del-peregrino1;
    text-align: center;
}

.itemdatoscasadelperegrino {
    grid-area: datoscasadelperegrino;
}

.itemdescripcioncasadelperegrino {
    grid-area: descripcioncasadelperegrino;
    font-size: 0.8rem;
}

.itemcasa-del-peregrino2 {
    grid-area: casa-del-peregrino2;
    text-align: center;
}

.itemcasa-del-peregrino3 {
    grid-area: casa-del-peregrino3;
    text-align: center;
}

.itemcasa-del-peregrino4 {
    grid-area: casa-del-peregrino4;
    text-align: center;
}

.itemcasa-del-peregrino5 {
    grid-area: casa-del-peregrino5;
    text-align: center;
}

.itemcasa-del-peregrino6 {
    grid-area: casa-del-peregrino6;
    text-align: center;
}

.itemcasa-del-peregrino7 {
    grid-area: casa-del-peregrino7;
    text-align: center;
}

/*CSS auditorio.html*/
.grid-container-auditorio {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "auditorio1 datosauditorio"
                        "auditorio2 auditorio2"
                        "auditorio3 auditorio4";
}

.itemauditorio1 {
    grid-area: auditorio1;
    text-align: center;
}

.itemdatosauditorio {
    grid-area: datosauditorio;
}

.itemauditorio2 {
    grid-area: auditorio2;
    text-align: center;
}

.itemauditorio3 {
    grid-area: auditorio3;
    text-align: center;
}

.itemauditorio4 {
    grid-area: auditorio4;
    text-align: center;
}

/*CSS sala-velatoria.html*/
.grid-container-sala-velatoria {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "sala-velatoria1 datossalavelatoria"
                        "sala-velatoria2 descripcionsalavelatoria";
}

.itemsalavelatoria1 {
    grid-area: sala-velatoria1;
    text-align: center;
}

.itemdatossalavelatoria {
    grid-area: datossalavelatoria;
}

.itemsalavelatoria2 {
    grid-area: sala-velatoria2;
    text-align: center;
}

.itemdescripcionsalavelatoria {
    grid-area: descripcionsalavelatoria;
    font-size: 0.8rem;
}

/* Estilos CSS para el carrousel de imágenes*/

.carrousel {
    width: 40%;
    max-width: 120em;
    padding: 0.5em;
    transition: all 0.4s ease;
    border-radius: 1em;
    overflow: hidden;
  }
  
  .carrousel .grande {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel .img {
    width: calc( 100% / 4 - 2em);
    min-height: 10vh;
    transition: all 0.4s ease;
    border-radius: 1em;
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 0 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: 0.5em;
    height: 0.5em;
    margin: 1em 1em 0;
    color: white;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: rgb(160,161,161);
  }
  
  .carrousel .punto.activo {
    background-color: rgb(47,68,100);
  }